
<!DOCTYPE html>
<html>
  <header class="header">
    <div class="header-left">
    </div>
    <div class="header-main">
      <p class="header-logo">
        Training Memos
      </p>
    </div>
    <div class="header-right">
    </div>
  </header>
  <body>
    <div class="contents">
      <div class="contents-left"> 
      </div>
      <div class="contents-right"> 
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Start time</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @logs.each do |log| %>
              <tr>
                <td><%= log.name %></td>
                <td><%= log.start_time %></td>
                <td><%= link_to 'Show', log %></td>
                <td><%= link_to 'Edit', edit_log_path(log) %></td>
                <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <td><%= log.memo %></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <footer>
  </footer>
</html>
