
<!DOCTYPE html>
<html>
  <header class="header">
    <div class="header-left">
      <div>
        <%= link_to 'calender', logs_path %>
      </div>
    </div>
    <div class="header-main">
      <p class="header-logo">
        Training Memos
      </p>
    </div>
    <div class="header-right">
    </div>
  </header>
  <body>
    <div class="contents">
      <div class="contents-left"> 
      </div>
      <div class="contents-right"> 
        <div class="memo-list">
          <% @logs.each do |log| %>
            <div class="memo-box">
                <div>
                  <p>トレーニング内容：<%= log.name %></P>
                  <span>日時:<%= log.start_time %>
                  <%= link_to 'Show', log %>
                  <%= link_to 'Edit', edit_log_path(log) %>
                  <%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                </div>
                <table class="data-table">
                  <tr>
                    <th>体重</th>
                    <th>体脂肪率</th>
                    <th>頑張り</th>
                  </tr>
                  <tr>
                    <td><%= log.weight %></td>
                    <td><%= log.fat %></td>
                    <td><%= log.effort %></td>
                  </tr>
                </table>
                <div>
                </div>
                <div>
                  <%= log.memo %>
                </div>
            </div>  
          <% end %>
        </div>
      </div>
    </div>
  </body>
  <footer>
  </footer>
</html>
