<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
        <% log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field-fat">
    <%= form_for(@log) do |form| =%>
      <%= "運動した時間"%>
      <%= form.number_field :time, in: 0..180, step: 10 =%>
      <%= "✖️ (疲れ具合)"%>
      <%= form.number_field :tiredness, in: 0..3, step: 1 =%>
    <% end %>
  </div>

  <div class="field-memo">
    <%= form.label :memo %>
    <%= form.text_area :memo,  size: "100x10" %>
  </div>
  <div class="field-weight">
    <%= form.label :"weight(kg)" %>
    <%= form.number_field(:weight, in: 1.0..120.0, step: 0.2) %>
  </div>
  <div class="field-fat">
    <%= form.label :"fat(%)" %>
    <%= form.number_field(:fat, in: 1.0..40.0, step: 0.2)%>
  </div>
<% end %>
