<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
        <% log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  <div class="field">
    <%= form.label :"ãƒˆãƒ¬ãƒ¼ãƒ‹ãƒ³ã‚°å†…å®¹" %>
    <%= form.text_field :name %><br>
    <%= form.label :"ä½“é‡(kg)" %>
    <%= form.number_field(:weight, in: 1.0..120.0, step: 0.2) %><br>
    <%= form.label :"ä½“è„‚è‚ª(%)" %>
    <%= form.number_field(:fat, in: 1.0..40.0, step: 0.2)%><br>
    <%= "ä»Šæ—¥ã®é ‘å¼µã‚Š = é‹å‹•ã—ãŸæ™‚é–“(åˆ†ï¼‰"%>
    <%= form.number_field :time, in: 0..180, step: 10 =%>
    <%= "âœ–ï¸ ç‡ƒãˆå°½ãåº¦(ï¼“æ®µéšŽï¼‰"%>
    <%= form.select :tiredness, [ ["ðŸ”¥",1], ["ðŸ”¥ðŸ”¥", 2], ["ðŸ”¥ðŸ”¥ðŸ”¥", 3 ]], prompt: "ç‡ƒãˆå°½ãåº¦" %>
    <%= form.label :"ãƒ¡ãƒ¢" %>
    <%= form.text_area :memo,  size: "100x10" %><br>
  </div>
<% end %>
