<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @log.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @log.start_time %>
</p>

<%= link_to '➡️トレーニング一覧へ', root_path %>
<%= link_to '➡️カレンダーへ', logs_path %>



